.text-error {
  color: red;
}

.text-bold {
  font-weight: 600;
}

.btn-create-field {
  position: absolute;
  width: 110px;
  top: 1.48rem;
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-align: center;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-create-field:hover {
  background-color: #1d6fa5;
  cursor: pointer;
}
.plugin-select {
  width: 20em;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
}
.plugin-sub-select {
  width: 9em;
  padding: 5px;
}
.plugin-select option {
  padding: 5px;
  background-color: #fff;
  color: #333;
  font-size: 14px;
}
.plugin-select option:checked {
  background-color: #f0f0f0;
  font-weight: bold;
}

.settings-heading {
  text-align: center;
  color: #2f75b5;
  font-weight: bold;
  font-size: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.show-token {
  line-height: 48px;
  margin-left: 10px;
}

.pointer {
  cursor: pointer;
}

.tooltip-icon {
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  color: #3498db;
  background-color: transparent;
}

.tooltip-content {
  visibility: hidden;
  position: absolute;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: white;
  background-color: #3c8dbc;
  font-size: 14px;
  font-weight: normal;
  max-width: 500px;
  white-space: normal;
  z-index: 9999;
}

.tooltip-icon:hover .tooltip-content {
  visibility: visible;
}

label {
  font-size: 16px;
}

.settings {
  font-family: メイリオ, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif !important;
}
